@model Holiday

<tr id="@Model.Id">
    <td>@Model.HolidayName</td>
    <td>@Model.HolidayDate.Date.ToShortDateString()</td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger btn-sm" onclick="deleteHoliday(@Model.Id)"><i class="far fa-trash-alt"></i></button>
        </div>
    </td>
</tr>