
@model TaskViewModel


<form enctype="multipart/form-data"
      method="post" class="mt-3">
    <input hidden asp-for="@Model.Task.Id" />
    <div class="form-group row" hidden>
        <label asp-for="Task.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="Task.ViewOrder" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.ViewOrder" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.ViewOrder" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="Task.FK_ProjectId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.FK_ProjectId" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.FK_ProjectId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="Task.StartDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.StartDate" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="Task.EndDate" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.EndDate" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
            <label asp-for="Task.FK_DepID" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Task.FK_DepID" class="form-control" placeholder="Name">
                <span asp-validation-for="Task.FK_DepID" class="text-danger"></span>
            </div>
        </div>
    <div class="form-group row" hidden>
        <label asp-for="Task.EstDuration" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.EstDuration" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.EstDuration" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row" hidden>
        <label asp-for="Task.Progress" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.Progress" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.Progress" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="Task.ActualDuratoin" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.ActualDuratoin" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.ActualDuratoin" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="Task.Status" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.Status" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.Status" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="Task.Priority" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Task.Priority" class="form-control" placeholder="Name">
            <span asp-validation-for="Task.Priority" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Add SubTask Files</label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Files" multiple class="form-control custom-file-input">
                <label class="custom-file-label">Choose File...</label>
            </div>
        </div>
    </div>

    <div class="form-group ">
        <div class="col-sm-10">
            <button value="@Model.Task" type="submit" class="btn btn-primary">Add</button>
        </div>
        <div class="col-sm-10">
            <a href="/DepManager/AssignTasks?depid=@Model.Task.FK_DepID" class="btn btn-primary">  Back To List</a>
        </div>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileLabel = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    if (files.length > 1) {
                        fileLabel.html(files.length + ' files selected');
                    }
                    else if (files.length == 1) {
                        fileLabel.html(files[0].name);
                    }
                });
            });
        </script>
    }
</form>

