@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="~/img/Monitor.PNG" class="rounded-circle " alt="Monitor" width="40" height="40" />Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>

            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link px-3 py-3 " asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link px-3 py-3 " asp-area="" asp-controller="Home" asp-action="Index"><i id="i" class="fas fa-home"></i> Home</a>
            </li>


            <li class="nav-item">
                <a class="nav-link px-3 py-3  " asp-controller="Project" asp-action="Index"><i id="i" class="fas fa-tasks"></i> projects</a>
            </li>

            @*<li class="nav-item">
                <a class="nav-link px-3 py-3  " asp-controller="SubTask" asp-action="Index"><i id="i" class="fas fa-id-badge"></i> Engineer</a>
            </li>

            <li class="nav-item">
                <a class="nav-link px-3 py-3  " asp-controller="depmanager" asp-action="teamsview"><i class="fas fa-users"></i> Teams</a>
            </li>

            <li class="nav-item">
                <a class="nav-link px-3 py-3  " asp-controller="Employee" asp-action="EmployeeTimeSheet"><i class="fas fa-users"></i>TimeSheet</a>
            </li>*@

            <li class="nav-item">
                <a class="nav-link px-3 py-3  " asp-controller="Department" asp-action="ViewDepartments"><i id="i" class="fas fa-chart-area"></i> Admin</a>
            </li>
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link px-3 py-3 " data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false"><i id="i" class="fas fa-tasks"></i> Projects <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Project" asp-action="Index">Active</a></li>
                    <li><a class="dropdown-item" asp-controller="Project" asp-action="CompletedProjects">Completed</a></li>
                    <li><a class="dropdown-item" asp-controller="Project" asp-action="Index">Canceled</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
