@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img src="~/img/Monitor.PNG" alt="Monitor" width="150" height="35" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
                <li class="nav-item notifications" style=" margin-top: 13px;margin-left: 3px;">
                    <a href="#" class="">
                        <i id="notify-icon" class="fa fa-bell fa-2x" aria-hidden="true" style="color:#4da76b"></i>
                        <input value="0" style="position:relative; right:5px; top:-15px; color:#4da76b; border:none; background-color:inherit; font:bold; font-size:medium; width:15px" disabled id="notify-count" />
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link px-3 py-3 " asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link px-3 py-3  " asp-controller="Department" asp-action="ViewDepartments"><i id="i" class="fas fa-chart-area"></i> Admin</a>
            </li>

        </ul>
    </div>
</nav>
