.container {
    margin: 0;
    padding: 0;
    max-width:100%;
}


body {
    margin: 0;
    padding: 0;
    font-size: 100%;
}


.gantt-table {
    text-align: center;
    border-collapse: collapse;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 5px;
    overflow: auto;
}

.gantt-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    padding: 0px 0px;
    height: 46px;
}

.gantt-table th,
.gantt-table td {
    padding: 3px 1px;
}


.gantt-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

    .gantt-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }


.buttons .btn{
    margin-left: 2px;
    margin-right: 2px;
}



.tablebody {
    /*background-color: #eee;*/
}

    .tablebody td {
        height: 10px
    }

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

    input:hover{
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 3px;
    }

    .no-outline {
        outline: none;
        border: 1px;
    }


/* split screen */

.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow-x: auto;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow-x: auto;
}

.tablecontent {
    background-color: rgb(248, 248, 250);
    z-index: 1;
    width: 50%;
    min-width: 746px
}

.ganttcontent {
    background-color: rgb(248, 244, 244);
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
}

/* Handle. */
.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(145, 145, 145);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}

    /*.handle img {
        position:relative;
        height: 10%;
        background-color: rgba(0, 0, 0, 0.5);
        width: 5px;
        top: 50%;
        left: 50%;
        z-index: 0;
        user-select: none;
        -moz-user-select: none;
    }*/

    .handle:hover {
        cursor: e-resize;
    }

    .handle:active {
        background-color: rgb(34, 34, 37);
        cursor: e-resize;
    }

.errprogress {
    border: 1px solid red;
}

/*buttons*/
tbody button {
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


/* modal ?? */

.dep-modal-bg {
    position: fixed;
    width: 100%;
    height: 100hv;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.dep-bg-active {
    visibility: visible;
    opacity: 1;
}

.dep-modal {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

    .dep-modal button {
        padding: 10px 10px;
        background-color: rgb(9, 72, 80);
        color: white;
        border: none;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }

    .dep-modal span {
        position: absolute;
        top: 10px;
        right: 10px;
        font-weight: bold;
        cursor: pointer;
    }
/*modal ???*/
