:root {
    --green: rgb(77, 167, 107);
    --grey: rgb(53, 53, 53);
    --background:#e6f5ea;
}



body {
    font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Lato,Arial,sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.navbar {
    padding: .1rem 5rem;
}

.nav-link {
    font-size: 1.3rem;
}

.navbar-light .navbar-brand {
    color: var(--green);
    font-size: 2.25rem;
}

    .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
        color: var(--green);
    }


    #i{
        font-size:1.1rem;
    }


/*nav bar dropdown list*/
/*.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: var(--green);
    border-radius: 8px;
}


.dropdown-menu > li > a {
    margin: 0 8px;
}*/


.dropdown-menu {
    /*border-width: 0.0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;*/
    /*min-width:17.5rem;*/
    /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
}

/*.navbar-brand {
    font-size: 35px;
    line-height: 30px;
}

.dropdown-item {
    width: 90%;
}
/*#endregion*/


/*.dropdown-menu clock {
    min-width: 25rem;
}*/
