:root {
    --green: rgb(77, 167, 107);
    --grey: rgb(53, 53, 53);
    --white: rgb(250, 250, 255);
}

body {
    font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Lato,Arial,sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--green);
    border-bottom: 2px solid var(--green);
}

.navbar {
    padding: .1rem 5rem;
}

.nav-link {
    font-size: 1.3rem;
}

.navbar-light .navbar-brand {
    color: var(--green);
    font-size: 2.25rem;
}

    .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
        color: var(--green);
    }


#i {
    font-size: 1.1rem;
}




/*nav bar dropdown list*/
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: var(--green);
    border-radius: 8px;
}


.dropdown-menu > li > a {
    margin: 0 8px;
}


.dropdown-menu {
    border-width: 0.0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.navbar-brand {
    font-size: 35px;
    line-height: 30px;
}

.dropdown-item {
    width: 90%;
}
/*#endregion*/


.dropdown-menu clock {
    min-width: 25rem;
}

.buttons {
    display: flex;
    align-content: center;
    align-items: center;
}

    .buttons > * {
        display: inline;
        float: none;
    }

#submitBtn {
    width: 130px;
}

.viewmodes {
    display: flex;
    align-items: center;
}

.viewtext {
    white-space: nowrap;
    font-size: large;
    font-weight: bold;
    color: wheat;
    width: 200px;
    height: 38px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #BADA55;
    background-color: #000033;
}

.modal-body {
    display: block;
}

.invoname {
    display: flex;
}

    .invoname input {
        width: 40%;
        margin-left: 10px;
    }

    .invoname label {
        font-weight: bold;
    }

.invoitemtable {
    margin-left: 20px;
    border-collapse: separate;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

    .invoitemtable thead {
        background-color: #ccffeb;
        border-radius: 7px;
        border: 1px solid;
        text-align: left;
        font-weight: bold;
    }

        .invoitemtable thead td {
            border: 1px solid;
            border-radius: 5px;
            padding: 1px;
            text-align: center;
        }

    .invoitemtable input {
        border-radius: 5px;
        border: 1px solid #e0ebeb;
        width: 100px;
    }

        .invoitemtable input[type=number]::-webkit-inner-spin-button,
        .invoitemtable input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .invoitemtable input[type=number] {
            -moz-appearance: textfield;
        }

.invodate {
    display: flex;
}

    .invodate .form-group {
        display: flex;
    }

    .invodate label {
        font-weight: bold;
        margin-right: 30px;
        white-space: nowrap;
    }

    .invodate input {
        width: 70%;
        margin-left: 10px;
        margin-right: 30px;
    }

.invoitemfooter {
    display: flex;
}

    .invoitemfooter input {
        margin-left: 8px;
    }

.ivovalue {
    display: flex;
    margin-left: 50px;
}

    .ivovalue label {
        font-weight: bold;
        margin-right: 10px;
        white-space: nowrap;
    }

    .ivovalue input {
        width: 60%;
        margin-left: 10px;
    }

.invototaltable {
    display: inline-flex;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    width: 100%;
    /*overflow:hidden;*/
}

    .invototaltable h3 {
        font-weight: bolder;
        padding: 10px;
    }

        .invototaltable h3 input {
            font-weight: bold;
            padding: 0px;
            margin-left: 80px;
        }

.projectinfo {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    padding:10px;
    width:400px;
    height:100px;
    margin-left:100px;
    margin-bottom:50px;
}

.proname {
    display: flex;
}

    .proname label {
        font-weight: bold;
        margin-right: 10px;
        white-space: nowrap;
    }

    .proname input {
        width: 60%;
        margin-left: 10px;
        border: none;
        font-weight: bold;
    }

.prodescripe {
    display: flex;
}
    .prodescripe label {
        font-weight: bold;
        margin-right: 10px;
        white-space: nowrap;
    }

    .prodescripe input {
        width: 60%;
        margin-left: 10px;
        border: none;
        font-weight: bold;
    }

    /**********Notifications***************/

.newnotification {
    background-color: #f5f7f6;
}

.popover-body {
    margin: 0;
    padding: 0;
}

.notification-list {
    list-style-type: none;
    height: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;
}

    .notification-list li {
        padding: 0 10px 0 10px;
    }

    .notification-list::-webkit-scrollbar {
        padding: 0 10px 0 20px;
    }

    .notification-list::-webkit-scrollbar-thumb {
        background-color: #525861;
        border-radius: 0 8px 8px 0;
    }

.loadmorebtn {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    background-color: rgba(53, 30, 255,0);
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
/**************************/

/******Holiday*******/
.holiday-table {
    width: 60%;
    margin:auto;
}
.holiday-table td{
    width:30px;
}


.holiday-body {
    display: flex;
    width: 60%;
    margin: auto;
    margin-top: 15px;
}

    .holiday-body .form-group {
        padding:0;
        margin-left:30px;
    }

.holiday-body input{
    width: 90%;
    height:35px;
}

    .holiday-body button {
        width: 41px;
    }

/*******************/

