@model TeamViewModel
@{
    ViewData["Title"] = "Admin | Add Team";
}

    <form method="post" class="row">

        <div class="col-4">
            <div class="form-group ">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="FK_DepartmentId"></label>
                <select asp-for="FK_DepartmentId" asp-items="new SelectList (Model.Departments,nameof(Department.Id),nameof(Department.Name))" class="form-control">
                    <option>Select Department</option>
                </select>
                <span asp-validation-for="FK_DepartmentId" class="text-danger"></span>
            </div>
        <input type="submit" value="Add Team" class="btn btn-primary" />
        <button type="reset" class="btn btn-danger">Cancel</button>
        </div>
    </form>
