@model List<Team>
@{
    ViewData["Title"] = "TeamsView";
}

<div>
    <div style="display:flex;justify-content:space-evenly">
        <div class="innerleft slice" style="width:30%; padding:50px 15px 15px 20px">
            <table class="table table-hover text-center " id="teamTable">
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr id="team-@Model[i].Id" onclick="displayTasks(@Model[i].Id)">
                            <td>@Model[i].Name</td>
                            @if (Model[i].TeamLeader != null)
                            {
                                <td>@Model[i].TeamLeader.UserName</td>
                            }
                            else
                            {
                                <td style="color:red">No team leader</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="innerright slice" style="width:67%;padding:15px">
            <div class="row" id="tasks" style="margin:auto">
                <h4 id="alertdiv" class="text-muted text-center mt-5" style="margin:auto;">Select Team to Show Data</h4>

                <div id="tableBody" class="table table-hover">
                </div>
            </div>
        </div>

    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Write a reason for Holding</h5>

            </div>
            <div class="modal-body">
                Reason:
                <br />
                <input id="reason" type="text" class="form-control" />
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                <button id="send" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>



@section scripts{


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script>
        function EditPriority(id, value) {
            $.ajax({
                type: "GET",
                url: `/Subtask/EditPriority`,
                data: {
                    ID: id,
                    priority: value
                },
                success: function () {

                },
                error: function (x, y, err) {
                    console.log(arguments)
                }
            })
        }

        
        function displayTasks(id) {
            $.ajax({
                url: "/DepManager/displayTasks",
                type: "Get",
                data: { teamId: id },
                success: function (result) {
                    if (result) {
                        $('#alertdiv').hide();
                        $('#tableBody').empty();
                        $('#tableBody').append(result);
                    }
                }
            })
        }


        function ChangeStatus(Id, value) {
            var meassage;
            switch (value) {
                case 2:
                    meassage = 'Do you want to submit this task';
                    break;
                case 3:
                    meassage = 'Do you want to cancel this task';
                    break;
            }            
            if (confirm(meassage)) {
                $.ajax({
                    url: "/DepManager/ChangeStatus",
                    type: "Get",
                    data: {
                        id: Id,
                        status: value
                    },
                    success: function () {
                        $(`#task-${Id}`).hide();
                    }
                })
            }
        }
    </script>
}


@section Style{

    <style>

        .container {
            max-width: 1250px;
        }

        body {
            background-color: #eef5f0;
        }

        .slice {
            border: 0px solid white;
            border-radius: 8px;
            background: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>

}
