@model EngineerChrtViewModel

@foreach (var item in Model.Months)
{
    <input class="months" hidden asp-for="@item" />
}

@foreach (var item in Model.Quality)
{
    <input class="quality" type="number" hidden asp-for="@item" />
}

@foreach (var item in Model.Time)
{
    <input class="time" hidden type="number" asp-for="@item" />
}



<div class="main">
    <div class="">
        <div id="Time_Quality" style="width: 800px; height: 500px;"></div>
        <div id="Complexity" style="width: 800px; height: 500px;"></div>
    </div>
</div>



@section Scripts{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);




        var month = [];
        var quality = [];
        var time = [];

        var end = $('.months')
        var qual = $('.quality')
        var ti = $('.time')


        for (var i = 0; i < end.length; i++) {
            month.push(end[i].defaultValue)
            quality.push(qual[i].defaultValue)
            time.push(ti[i].defaultValue)
        }


        function drawChart() {

            var dataTime = new google.visualization.DataTable();
            dataTime.addColumn('string', 'Month');
            dataTime.addColumn('number', 'Qulaity');
            dataTime.addColumn('number', 'Time Management');

            dataTime.addRows([
                [`${month[0]}`, Number(quality[0]), Number(time[0])]
            ]);

            for (let j = 1; j < time.length; j++) {
                dataTime.addRows([
                    [`${month[j]}`, Number(quality[j]), Number(time[j])]
                ]);
            }


            var options = {
                chart: {
                    title: 'Engineer Performance',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('Time_Quality'));

            chart.draw(dataTime, google.charts.Bar.convertOptions(options));
            /**------------------------------------ */
            /**------------------------------------ */

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Qulaity');
            data.addColumn('number', 'Time Management');

            data.addRows([
                [`${month[0]}`, Number(quality[0]), Number(time[0])]
            ]);

            for (let j = 1; j < time.length; j++) {
                data.addRows([
                    [`${month[j]}`, Number(quality[j]), Number(time[j])]
                ]);
            }
        }
        var chart = new google.charts.Bar(document.getElementById('Complexity'));
        chart.draw(dataTime, google.charts.Bar.convertOptions(options));
    </script>


}


@section Style{
    <style>
        .main {
            background-color: #e6f5ea;
        }
    </style>
}