
@{
    ViewData["Title"] = "Chat";
    Layout = null;
}

<html>
<head>
    <title>Chat</title>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script>
        window.onload = function () {





        }

    </script>
</head>
</html>
