@model List<Project>

@{
    ViewData["Title"] = "ControlInvoice";
}

<div style="text-align:center;">
    <table class="table table-sm  holiday-table">
        <thead class="alert-info thead-dark text-center">
            <tr>
                <th scope="col">Project Name</th>
                <th scope="col"></th>     
            </tr>
        </thead>
        <tbody id="tableBody" class="table-sm" style="border:1px solid #dad9d9">
            @if (Model.Count > 0 && Model != null)
            {
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>@Model[i].Name</td>
                        <td>
                            <div style="display:flex;justify-content:flex-end">
                                <a href="/Invoice/Index_Income/@Model[i].ID" class="btn btn-outline-warning btn-sm">Income</a>
                                <a href="/Invoice/Index_Expense/@Model[i].ID" class="btn btn-outline-info btn-sm mx-2">Outcome</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
