@model MySubTaskViewModel
@{
    ViewData["Title"] = "AddFile";
}

<form enctype="multipart/form-data"
      method="post" class="mt-3 form-group col-8 " style="margin:auto;padding:20px" >
    <input hidden asp-for="@Model.SubTask.Id" />
    <div class="form-group row" hidden>
        <label asp-for="SubTask.Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SubTask.Name" class="form-control" placeholder="Name">
            <span asp-validation-for="SubTask.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="SubTask.Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SubTask.Description" class="form-control" placeholder="Name">
            <span asp-validation-for="SubTask.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="SubTask.FK_TaskId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SubTask.FK_TaskId" class="form-control" placeholder="Name">
            <span asp-validation-for="SubTask.FK_TaskId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="SubTask.ActualDuration" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SubTask.ActualDuration" class="form-control" placeholder="Name">
            <span asp-validation-for="SubTask.ActualDuration" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="SubTask.IsUnderWork" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SubTask.IsUnderWork" class="form-control" placeholder="Name">
            <span asp-validation-for="SubTask.IsUnderWork" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="SubTask.Progress" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SubTask.Progress" class="form-control" placeholder="Name">
            <span asp-validation-for="SubTask.Progress" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row" hidden>
        <label asp-for="SubTask.Status" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SubTask.Status" class="form-control" placeholder="Name">
            <span asp-validation-for="SubTask.Status" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row" hidden>
        <label asp-for="SubTask.Priority" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SubTask.Priority" class="form-control" placeholder="Name">
            <span asp-validation-for="SubTask.Priority" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row" hidden>
        <label asp-for="SubTask.FK_EngineerID" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="SubTask.FK_EngineerID" class="form-control" placeholder="Name">
            <span asp-validation-for="SubTask.FK_EngineerID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Add SubTask Files</label>
        <div class="col-sm-8">
            <div class="custom-file">
                <input asp-for="Files" multiple class="form-control custom-file-input">
                <label class="custom-file-label">Choose File...</label>
            </div>
        </div>
    </div>

    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="form-group ">
        <div class="col-sm-10">
            <button value="@Model.SubTask" type="submit" class="btn btn-primary">Add</button>
            <a href="/SubTask/Index?engineerid=@Model.SubTask.FK_EngineerID" class="btn btn-primary">  Back To List</a>

        </div>
    </div>

    @*This script is required to display the selected file in the file upload element
        If a sinle file is selected, the name of the file is displayed. If multiple
        files are selected, then the count of files is displayed.*@

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileLabel = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    if (files.length > 1) {
                        fileLabel.html(files.length + ' files selected');
                    }
                    else if (files.length == 1) {
                        fileLabel.html(files[0].name);
                    }
                });

                $('button').on("change", function () {
                    alert('File Added Successfully');
                })
            });
        </script>
    }
</form>

